@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial,Helvetica,sans-serif; }

body {
  background-color: #CED4D6; }

a:link {
  color: #000;
  text-decoration: none; }

/* visited link */
a:visited {
  color: #000;
  text-decoration: none; }

/* mouse over link */
a:hover {
  color: #CED4D6;
  text-decoration: none; }

/* selected link */
a:active {
  color: white;
  text-decoration: underline; }

.header {
  height: 45px;
  background-color: #95A2A5; }
  .header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px; }
  .header__dropdown {
    float: right;
    position: relative;
    display: inline-block;
    z-index: auto; }
  .header__link {
    display: none;
    top: 17px;
    position: absolute;
    background-color: #F3F3F3;
    min-width: 60px;
    max-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 0; }

.container {
  padding-top: 50px;
  text-align: center; }
  .container .register div {
    margin-top: 20px; }
  .container .register__button {
    text-align: center; }
  .container .login div {
    margin-top: 20px; }
  .container .login__button {
    text-align: center; }
  .container .products {
    text-align: center; }
    .container .products__item {
      margin: 5px;
      margin-top: 10px;
      /*input[type="file"]{
          display: none;
        }*/
      /*label[for="image"]{
          @extend .button;
        }*/ }
  .container__card {
    display: block;
    background-color: white;
    margin: 25px;
    border-radius: 5px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; }
    .container__card img {
      width: 100%;
      margin-top: 10px; }
    .container__card__user {
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 10px; }
      .container__card__user > img {
        max-width: 50px;
        margin-right: 10px;
        border-radius: 50px; }
    .container__card__info {
      display: flex;
      align-item: center;
      justify-content: space-between; }
      .container__card__info > h3, .container__card__info > h4 {
        display: inline-block;
        width: auto;
        padding: 5px 0 5px 0; }
      .container__card__info h3 {
        color: #002B49; }
      .container__card__info h4 {
        color: #00AEBB; }
  .container__img {
    width: 40px; }

.container .products__item {
  margin: 5px;
  margin-top: 10px; }

hr {
  margin: 5px;
  width: 100%; }

input[type="text"], input[type="password"] {
  border-radius: 5px; }

button, .button {
  border-radius: 5px;
  padding: 2px;
  width: 90px;
  height: 25px;
  background-color: #95A2A5; }

.helper {
  font-size: 15px;
  display: block;
  text-align: center; }
  .helper__text {
    background-color: #FF0000; }

/*//Some code*/
